body {
  background: #eef1f8;
  color: #868f9c;
  font-size: 62.5%;
}
body .banner {
  width: 100%;
}
body .banner .swiper-container {
  height: 22rem;
}
body .banner .swiper-container .swiper-wrapper .swiper-slide .banner-img {
  width: 100%;
  height: 100%;
}
body .activity .list {
  display: flex;
  background: #ffffff;
  padding: 2rem 3rem;
}
body .activity .list li {
  flex: 1;
}
body .activity .list li .img-frame {
  width: 8rem;
  height: 8rem;
  background-color: #4297ff;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  margin: 0 auto;
}
body .activity .list li .img-frame img {
  width: 3.2rem;
}
body .activity .list li .title {
  font-size: 2.4rem;
  margin-top: 1rem;
  text-align: center;
}
body .hot-block,
body .new-activity {
  margin-top: 1rem;
  background: #ffffff;
  padding: 2.2rem 3rem;
}
body .hot-block .swiper-container {
  height: 20rem;
}
body .hot-block .swiper-container .swiper-wrapper .swiper-slide .hot-img {
  width: 13rem;
}
body .hot-block .swiper-container .swiper-wrapper .swiper-slide .title {
  font-size: 2.4rem;
  margin-top: 1rem;
  text-align: center;
}
body .new-activity .activity-picture .activity-picture-list {
  display: flex;
}
body .new-activity .activity-picture .activity-picture-list li {
  flex: 1;
}
body .new-activity .activity-picture .activity-picture-list li:nth-child(2n) {
  margin-left: 2.91rem;
}
body .new-activity .activity-picture .activity-picture-list li img {
  width: 26.16rem;
  height: 17rem;
}
body .block-header {
  display: flex;
  align-items: center;
  margin-bottom: 2.91rem;
}
body .block-header .block-icon {
  display: block;
  width: 1.83rem;
  height: 2rem;
  object-fit: contain;
}
body .block-header .block-title {
  font-size: 2rem;
  margin-left: 1.33rem;
}
.swiper-container .swiper-pagination-bullet {
  width: 2rem;
  height: 1rem;
  border-radius: 20px;
  background: #dce1eb;
  opacity: inherit;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #4297ff;
}
