<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>阿卡丽的神秘商店</title>
		<link rel="stylesheet" href="css/common/reset.css" />
		<link rel="stylesheet" href="css/pc/indexIE.css" />
		<link rel="stylesheet" href="css/pc/index.css" />
		<script src="js/common/vue-2.6.10.js"></script>
	</head>

	<body>
		<div id="app">
			<div class="header">
				<div class="content">
					<a>您好,请登录</a>
				</div>
			</div>
			<div class="banner">
				<img class="banner-bg" src="img/banner-bg.png">
				<div class="stars">
					<div class="star"></div>
					<div class="star pink"></div>
					<div class="star blue"></div>
					<div class="star yellow"></div>
				</div>
				<div class="logo">
					<img src="img/banner/lol-logo.png">
					<img src="img/banner/djc-logo.png" class="djc">

				</div>
				<div class="content-frame">
					<div class="content">
						<img class="person" src="img/banner/person.png">
						<div class="explain">
							<ul class="introduce-list">
								<li class="text-left">每位玩家在神秘商店都有<span class="mark">1次</span>抽折扣购买指定道具的机会</li>
								<li class="text-right">如果你拥有<span class="mark">神秘钥匙</span>，将会获得<span class="mark">双重打折</span>的机会！</li>
							</ul>
							<p class="time"><span class="title">开启时间</span>2014年7月25日 ~ 2014年8月1日</p>
							<img class="feeling-lucky" src="img/feeling-lucky.png" />
						</div>
					</div>
				</div>
			</div>
			<div class="hero-list-frame">
				<div v-for="(hero, index) in herolist" :key="hero.id">
					<div v-if="(index)%3==0"><img class="bg-circulation bg01" src="img/bg-circulation-01.png"></div>
					<div v-else-if="(index)%3==1"><img class="bg-circulation bg02" src="img/bg-circulation-02.png"></div>
					<div v-else-if="(index)%3==2"><img class="bg-circulation bg03" src="img/bg-circulation-03.png"></div>
					<div class="hero-list js-part" id="part1">
						<div class="list-header">
							<div class="title">
								<img class="hero-img" :src="hero.img">
								<span class="content"><span class="hero-name" v-html="hero.name"></span>专区</span>
							</div>
							<div class="discount">
								<span class="choose">请选择一款皮肤购买<span class="percent" v-html="hero.percent"></span>折</span>
							</div>
							<div class="clean"></div>
						</div>
						<div class="list-content">
							<ul class="detail-list">
								<li v-for="(describe, index1) in hero.discount">
									<div class="discount-describe">
										<img :src="describe.img">
										<ul class="describe">
											<li v-if="!(describe.name==null)" v-html="describe.name"></li>
											<li v-if="!(describe.originalPrice==null)">原价:{{describe.originalPrice}}Q币</li>
											<li v-if="!(describe.nowPrice==null)" class="now-price">现价:{{describe.nowPrice}}Q币</li>
										</ul>
									</div>
									<div class="buy-btn">
										<span class="right-now"></span>
										<span class="title">购买此英雄</span>
									</div>
								</li>

							</ul>
							<div class="clean"></div>
						</div>
						<div class="hr"></div>
						<div class="clean"></div>
					</div>
				</div>
			</div>
			<div class="footer">
				<img class="bg-footer" src="img/footer-bg.png">
				<div class="rule">
					<h1 class="title">活动规则</h1>
					<ul class="rule-list">
						<li>
							<span class="number">1</span>每位召唤师拥有一次抽折扣的机会，<span class="mark">使用钥匙获得额外一次</span>抽折扣的机会。
							<a class="see">查看钥匙说明</a>
						</li>
						<li>
							<span class="number">2</span>每位召唤师每一栏<span class="mark">只能选择一款</span>皮肤购买。
						</li>
						<li>
							<span class="number">3</span>召唤师们可以<span class="mark">自由选择大区</span>发放，但是不可赠送给他人。
						</li>
						<li>
							<span class="number">4</span>在法律允许的范围内，腾讯公司拥有对此活动的解释权。
						</li>
					</ul>
				</div>
				<div class="bottom-msg">
					<ul class="href-list">
						<li>
							<a>关于腾讯游戏</a>
						</li>
						<li>
							<a>服务条款</a>
						</li>
						<li>
							<a>广告服务</a>
						</li>
						<li>
							<a>腾讯游戏招聘</a>
						</li>
						<li>
							<a>腾讯游戏客服</a>
						</li>
						<li>
							<a>商务合作</a>
						</li>
						<li>
							<a>网站导航</a>
						</li>
					</ul>
					<p class="copy-right-EN">OPYRIGHT © 1998 – 2014 TENCENT. ALL RIGHTS RESERVED.</p>
					<p class="copy-right-CN">腾讯公司 版权所有</p>
				</div>
			</div>
			<div class="floater">
				<div class="top js-top-btn">
					<div class="top-icon"></div>
					<span class="title">TOP</span>
				</div>
				<ul class="hero-list js-hero-list">
					<li v-for="(hero, index) in herolist" :key="hero.id">
						<img :src="hero.img">
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="js/common/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="./index.json"></script>
		<script type="application/javascript">
			new Vue({
				el: '#app',
				data: {
					herolist: herolist.hero
				}
			})
			console.log(herolist.hero)
		</script>
	</body>

</html>